############################################
        Node Modules ignore files
############################################

/node_modules

############################################
            Env ignore files
############################################

.env

