doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/style.css ')
  link(rel='stylesheet' href='/css/header.css ')
  link(rel='stylesheet' href='/css/footer.css ')
  link(rel='stylesheet' href='/css/dashboard.css ')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  title Dashboard - Worklancers
include ./header.pug
main.dashboard
    section.top
      article(class="article1")
        h1.title Dashboard
        button(type="button" class="postButton" onclick="mostrarForm()") !Post a Job!
      article
        div.hide_me(id="form")
          include ./upWork.pug
      article
        div.mid
          .separator
          h2 My Postings
          .separator
        br
    section.bot
      each val in data
        form(method="POST")
        article
        input(type="hidden" value=val._id name="idMongo_job")
        input(type="submit" value="Borrar")
include ./footer.pug
  script
    include ../public/scripts/scripts.js