footer
  .footerLinks
    a.links_footer(href='#') Resources
    a.links_footer(href='#') Api
  a(href='https://github.com/IchikonWD/WorkLancers')
    img.git_logo(src='/assets/img/GitHub_Logo_White.png' alt='')