<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css ">
    <link rel="stylesheet" href="/css/footer.css ">
    <link rel="stylesheet" href="/css/style.css ">
    <title>Home - WorkLancers</title>
</head>
<!--Falta el middleware para el buscador que funcione al darle enter-->
<header>
    <nav class="navBar">
        <h2 class="titleNav">WorkLancers</h2>
        <div class="burger">=</div>
    </nav>
</header>
<main>
    <p></p>
    <section class="section1">
        <article class="description">Explicacion de como funciona la p&aacute;gina y en que consistes. Lorem Ipsum is
            simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since
            the 1500s.</article>
    </section>
    <section class="sectionForm">
        <form class="searchForm" name="searchForm" method="POST" action="//aqui va el middleware"><img
                class="icon_search" src="/assets/img/buscador.png"><input class="searchBox" id="search" type="text"
                name="search" placeholder="Web Developer"></form>
    </section>
    <section class="section2">
        <article class="job1">
            <div class="job_header">
                <h2 class="jobTitle">Se busca chapero por Chamartin</h2><b class="newAlert">NEW</b>
            </div>
            <div class="separator"></div>
            <div class="job_body"><img class="job_img" src="/assets/img/default_img.jpg" alt="">
                <p class="job_description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s.s</p>
            </div>
            <div class="separator"></div>
            <div class="job_footer">
                <p class="job_price">Fixed Price: 50&euro;</p><button class="see_more_btn">See More</button><img
                    class="fav_img" src="/assets/img/favorite.png">
                <!--Hacer formulario para meter un checkbox al favorito-->
            </div>
        </article>
    </section>
    <section class="section2">
        <article class="job1">
            <div class="job_header">
                <h2 class="jobTitle">Se busca chapero por Chamartin</h2><b class="newAlert">NEW</b>
            </div>
            <div class="separator"></div>
            <div class="job_body"><img class="job_img" src="/assets/img/default_img.jpg" alt="">
                <p class="job_description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s.s</p>
            </div>
            <div class="separator"></div>
            <div class="job_footer">
                <p class="job_price">Fixed Price: 50&euro;</p><button class="see_more_btn">See More</button><img
                    class="fav_img" src="/assets/img/favorite.png">
            </div>
        </article>
    </section>
</main>
<footer>
    <div class="footerLinks"><a class="links_footer" href="#">Resources</a><a class="links_footer" href="#">Api</a>
    </div><a href="https://github.com/IchikonWD/WorkLancers"><img class="git_logo"
            src="/assets/img/GitHub_Logo_White.png" alt=""></a>
</footer>
<script src="./scripts/home.js"></script>