doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/spinner.css ')
  link(rel='stylesheet' href='/css/header.css ')
  link(rel='stylesheet' href='/css/footer.css ')
  link(rel='stylesheet' href='/css/style.css ')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  title Home - WorkLancers
include ./header.pug
main
  p=unauthorized
  section.section1
    article.description
      p.topDescription 
        | Welcome to <h1 class="title">WorkLancers !</h1>
      p.bottomDescription
        | We are a team of freelancers who are passionate about creating beautiful and functional websites.
        br
        | Find your new Freelance Project with our engine!
  section.sectionForm
    form.searchForm(name='searchForm')
      i.icon_search(class="fa fa-search")
      input#search.searchBox(type='text' name='search' placeholder='Search')
  section#cards
    | <div class="content"><div class="card"><div class="card__side card__side--front"><!-- Front Content --><div class="card__cont"><span class="blue">alert</span><span>(<span class="green">'New Job!'</span>)</span></div></div><div class="card__side card__side--back"><!-- Back Content --><div class="card__cta"><a class="icon_heart" href="/"><i class="fa fa-heart" id="fav_btn_empty"></i></a><p><span class="purple">const</span> NewJob <span class="cyan">=</span> {<br /><span class="space red">Job Title</span><span class="cyan">:</span> <span class="green">'Desarrollo de solución digital de acumulación de litros digitales'</span>,<br/><span class="space red">Description</span><span class="cyan">:</span> <span class="green">'La aplicación móvil permite a los usuarios acumular combustible digital en una billetera virtual y luego redimirlos por combustible físico o bien por dinero equivalente. Se debe continuar trabajando en su desarrollo para adaptarla a las necesidades del usuario con el que firmemos un acuerdo (petrolera, distribuidora, operadora o proveedora de combustible en general).</span>',<br/><span class="space red">Job Budget</span><span class="cyan">:</span><span class="green">'$24.00-$45.00 Hourly'</span>,<br/><span class="space red">website</span><span class="cyan">:</span> <span class="green"><a href="#">'lauraalpinto.github.io'</a></span><br/> };</p></div></div></div>
include ./footer.pug
script. 
  const userApp=!{JSON.stringify(algo)}
script(src='./scripts/home.js')

