doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/spinner.css ')
  link(rel='stylesheet' href='/css/header.css ')
  link(rel='stylesheet' href='/css/footer.css ')
  link(rel='stylesheet' href='/css/style.css ')
  title Home - WorkLancers
include ./header.pug
main
  p=unauthorized
  section.section1
    article.description
      | Explicacion de como funciona la p&aacute;gina y en que consistes. Lorem Ipsum is simply dummy text of the
      | printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since
      | the 1500s.
  section.sectionForm
    form.searchForm(name='searchForm')
      img.icon_search(src='/assets/img/buscador.png')
      input#search.searchBox(type='text' name='search' placeholder='Web Developer')
  section#cards
include ./footer.pug
script(src='./scripts/home.js')

