html(lang='en')
  head
    link(rel='stylesheet' href='/css/login.css ')
    link(rel='stylesheet' href='/css/header.css ')
    link(rel='stylesheet' href='/css/footer.css ')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    title LogIn
include ./header.pug
main.main
    form#login-form(action='#' method="POST")
      h1.title Log in to WorkLancers
      .main
        h3=logError
        label(for='email')
        br
        input#email(type='email' name='email' value='Email')
        br
        label(for='password')
        br
        input#pass(type='password' name='password' value='Password')
        br
        <input id="submit" type="submit" value="Sign In" />
        // Mensaje de error de login, hay que darle estilo
        span=fail_login
      .bottom-container
        a.google-plus(href='/auth/google')
          span.fontawesome-google-plus
          p.fa.fa-google-plus(aria-hidden='true')  Continue with Google
        .connect 
          p Don't have an WorkLancers account ?
    .signup
      a.register(href="/register") 
        button.button Register
include ./footer.pug