html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/login.css')
    title LogIn
  body
include ./header.pug
    form#login-form(action='#' method="POST")
      .heading WorkLancers
      h1 Log in to WorkLancers
      .left
        label(for='email')
        br
        input#email(type='email' name='email' value='Email')
        br
        label(for='password')
        br
        input#pass(type='password' name='password' value='Password')
        br
        <input type="submit" value="Sign In" />

        // Mensaje de error de login, hay que darle estilo
        span=fail_login
      .right
        a.google-plus(href='/auth/google')
          span.fontawesome-google-plus
          p.fa.fa-google-plus(aria-hidden='true') Continue with Google
        .connect Don't have an WorkLancers account ?
        .signup
          a(href="/register")
include ./footer.pug