doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Register - WorkLancers
body 
    form(action='#' method='POST')
        label(for="username") Username
        input(type="text" name="username")
        label(for='email') Email
        input(type='text' name='email' id='')
        label(for='password') Password
        input(type='text' name='password' id='')
        label(for='age') Birthday
        input(type='text' name='age' id='')
        label(for='occupation') Occupation
        input(type='text' name='occupation' id='')
        label(for='location') Location
        input(type='text' name='location')
        label(for='skills') Skills
        input(type='text' name='skills')
        input(type='submit' value='Enviar')
