doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/register2.css')
    title Register2
  body
    #container
      .heading WorkLancers
      h1  Complete your free account setup 
      .underline
      form(action='#' method='post' id='contact_form')
        .name
          label(for='name')
          input(type='text' placeholder='First name' name='name' id='name_input' required)
        .lastname
          label(for='lastname')
          input(type='text' placeholder='Last name' name='lastname' id='email_input' required)
        .password
          label(for='password')
          input(type='text' placeholder='Creat a password' name='password' id='password_input' required)
        .email
          label(for='email')
          input(type='email' placeholder='Email' name='email' id='email_input' required)
        .subject
          label(for='subject')
          select(placeholder='Select a country' name='subject' id='subject_input' required)
            option(disabled hidden selected) Select a country
            option Spain
            option USA
            option CCCP
        .message
          p I want to:
        #box-job
          .project
            label(for='project')
            input(type='text' placeholder='For a project' name='project' id='project_input' required)
          .freelancer
            label(for='freelancer')
            input(type='text' placeholder='Freelancer' name='freelancer' id='freelancer_input' required)
        .box-check
          div(class='checkbox_a')
            input#vehicle1(type='checkbox' name='vehicle1' value='Bike')
            label(for='vehicle1') Yes! send me genuinely useful emails every now
            br
          div(class='checkbox_b')
            input#vehicle2(type='checkbox' name='vehicle2' value='Car')
            label(for='vehicle2') I have read and accept the privacy policy
            br
        .submit
          input(type='submit' value='Create My Account' id='form_button')
      // // End form
      .footer
    // // End #container
