form(action="/dashboard"  method='POST')
        label(for='title') Write a headline for you job post
        input(type='text' class='boxInp' name='title')
        label(for='category') What skills are you loking for?
        input(type='text' name='category' class='boxInp')
        label(for='description') Write a description 
        input(type='text' name='description' class='boxInp')
        label(for='requirements') Requirements which you ask for your job
        input(type='text' class='boxInp' name='requirements' class='boxInp')
        label(for='salary') Salary that you are willing to offer
        input(type='text' name='salary' class='boxInp')
        label(for='duration') Duration of your offer
        input(type='text' name='duration' class='boxInp')
        label(for='type') You want a remote or presencial 
        select(name='type' id='')
          option(value='Presencial') Presencial
          option(value='Remote' ) Remote
        br
        input(type='submit' class='submitBtn' value='!Post It!')