form(action="/dashboard"  method='POST')
        label(for='jobTitle') Write a headline 
        input(type='text' class='searchForm' name='jobTitle')
        label(for='jobDescription') Write a description 
        input(type='text' name='jobDescription' class='searchForm')
        label(for='jobBudget') More info about your job
        input(type='text' name='jobBudget' class='searchForm')
        label(for='url') A url for your job
        input(type='text' name='url' class='searchForm')
        input(type="hidden" name="idMong_job" value="NO")
        br
        input(type='submit' class='submitBtn' value='!Post It!')