form(action="/dashboard"  method='POST')
        label(for='jobTitle') Write a headline for you job post
        input(type='text' class='boxInp' name='jobTitle')
        label(for='jobDescription') Write a description 
        input(type='text' name='jobDescription' class='boxInp')
        label(for='jobTimer') Duration of your offer
        input(type='text' name='jobTimer' class='boxInp')
        label(for='jobBudget') Salary that you are willing to offer
        input(type='text' name='jobBudget' class='boxInp')
        br
        input(type='submit' class='submitBtn' value='!Post It!')