@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* .mobile-container {
  max-width: 480px;
  margin: auto;
  height: 500px;
  color: white;
  border-radius: 10px;
} */

.topnav {
  overflow: hidden;
  background-color: rgb(42, 157, 143);
  position: absolute;
  top: 4em;
  right: 0em;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  text-align: center;
  color: white;
  padding: 0.43em 0.6em;
  text-decoration: none;
  font-size: 2em;
  display: block;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: rgb(38, 70, 83);
  color: white;
}

.active {
  background-color: #04aa6d;
  color: white;
}

@media screen and (min-width: 768px) {
  .topnav {
    top: 0em;
    right: 4em;
  }

  .topnav a {
    padding: 0.4em 0.6em;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .topnav {
    top: 0em;
    right: 4em;
  }

  .topnav a {
    padding: 0.42em 0.6em;
    display: inline-block;
  }
}
