main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5em;
}

.article1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bot {
    width: 100%;
}

form {
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    align-items: center;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.postButton {
    font-family: "Montserrat", sans-serif;
    width: 12em;
    height: 4em;
    background-color: #F29040;
    border: 0;
    border-radius: 2em;
    color: wheat;
    box-shadow: 3px 2px 2px grey;
}

label {
    margin-top: 1em;
    font-size: 1.1em;
}

.postButton:active {
    width: 11.8em;
    height: 3.8em;
    background-color: #da8138;
}

.hide_me {
    display: none;
}

.submitBtn {
    font-family: "Montserrat", sans-serif;
    width: 6em;
    height: 2em;
    background-color: #D7431D;
    border: 0;
    border-radius: 2em;
    color: wheat;
    box-shadow: 3px 2px 2px grey;
}

.separator {
    display: flex;
    background-color: black;
    width: 10em;
    height: 0.1em;
    margin: 10px;
}

h2 {
    font-size: 1.5em;
}

@media (min-width: 1023px) {
    .separator {
        width: 20em;
    }
    .mid{
        font-size: 1.5em;
    }
    .searchForm{
        width: 30em;
        font-size: 1.2em;
    }
    .submitBtn {
        width: 10em;
        height: 3em;
    }
    .article1{
        margin-top: 5em;
    }
}