*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-content: center;
    align-items: center;
}
.section1{
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    font-size: 1.2em;
    width: 100%;
    margin: 1em;
}
.description{
    margin-top: 1em;
}
.sectionForm{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchForm{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: FFFFFF;
    border-radius: 1em;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 256PX;
    height: 38px;
}
.searchBox{
    width: 85%;
    font-size: 1.5em;
    border: none;
    outline:none;
    background-color: transparent;
    resize: none;
}
.searchBox:active{
    border: none;
    outline:none;
    background-color: transparent;
    resize: none;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.icon_search{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.job_img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 10px;
}
.section2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 

}
.job1{
    width: 90%;
    background-color: #dce4de9b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    border: 1px groove #22577A;
    box-shadow: 1px 1px 2px;
}
.job_header{
    display: flex;
    margin: 8px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}
.jobTitle{
    font-size: 15px;
    margin-left: 5px;
}

.newAlert{
    font-size: 10px;
    background-color: #418F6A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 43px;
    height: 20px;
    color: white;
}
.separator{
    display: flex;
    background-color: #22577A;
    width: 95%;
    height: 2px;
}
.job_body{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    margin-bottom: 10px;
}
.job_description{
    margin-left: 10px;
}
.job_footer{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.see_more_btn{
    color: white;
    background-color: #418F6A;
    border-radius: 12px;
    font-size: 10px;
    border: 0;
    width: 64px;
    height: 25px;
}
.fav_img{
    width: 25px;
    height: 30px;
}       